.maincontainer {
    display: flex;
    flex: 1;
    height: 80vh;
    aspect-ratio: 1/1;
    margin: 20px 50px;
    border-width: 10px;
    border-color: red;
    border-style: solid;
    border-radius: 25px;
    justify-self: center;
    justify-content: space-around;
    flex-direction: column;
}
.flexbox {
    display: flex;
    flex: 1 1 100px;
    min-width: 1px;
    min-height: 1px;
}